__pycache__/
.cache/
*.pyc
*.log

# environment/tooling (do not commit)
mamba/
micromamba/
micromamba
miniconda3/
_conda_extracted
tmp/
tmp_home/
https:
wandb/
miniconda.sh

# training data
matlab_env/CNN-for-droplet-sorting/Training Data/
